@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-300;
}

.skills-section {
  height: 61rem;
}

@media (min-width: 768px) {
  .text-column {
    width: 25.65%;
  }
}

@media (min-width: 1248px) {
  .skills-section {
    height: 41rem;
  }
}

@media (min-width: 1920px) {
  .skills-section {
    height: 22rem;
  }
}
