@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-300;
}

.skills-menu {
  height: 29em;
  top: 86.1em;
}

@media (min-width: 768px) {
  .text-column {
    width: 25.65%;
  }
  .skills-menu {
    height: 11.45em;
    top: 43.1em;
  }
}


